$prime_red: hsl(0, 100%, 74%);
$prime_green: hsl(154, 59%, 51%);
$accent_blue: hsl(248, 32%, 49%);
$text_blue: hsl(249, 10%, 26%);
$line_blue: hsl(246, 25%, 77%);

$poppins: "Poppins", sans-serif;
$font_med: 1rem;
$font_small: 0.75rem;
$font_smallest: 0.5rem;
